<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <img src="../../../assets/img/foto_cv" class="foto-cv">
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Antes que nada muchas gracias por tomarte el tiempo de visitar mi portfolio.<br><br>
        Soy un programador autodidacta que desde muy joven se intereso por el desarrollo de software, tal es así que me especialice en el manejo de sistemas de gestión educativa del Ministerio de Educación para luego crear uno propio que permita verificar el presentismo de empleados para que pueda utilizarse en distintos rubros u organizaciones.
        Además brindo clases en calidad de mentor en Aprender Programando, donde a mis alumnos les enseño rudimentos de HTML, CSS y JS como así también rutas y medios de aprendizaje para que puedan iniciarse en este mundo.
        El ir adquiriendo conocimientos en sistemas me llevó a poder trabajar en el desarrollo y soporte en el sitio porlosjovenes.org de Por los jóvenes - Don Bosco y aprender a utilizar Django/Python como desafío personal para ser un developer más completo y con capacidad de adaptación a distintas tecnologías y lenguajes.
    </p>
</article>













<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="20000">
            <img src="../assets/img/Demian.jpeg" class="d-block">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/cv.jpg" class="d-block">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/demianoffice.jpeg" class="d-block">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p>
        <a [routerLink]="['/portafolio']">Portafolio</a>
        <a [routerLink]="['/contacto']">Contacto</a>

    </p> -->