<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Hola! Mi nombre es Demian Perez Stragá,tengo 25 años y soy de Buenos Aires, Argentina.Mi objetivo con este
        portafolio es dar a conocer mis trabajos en el mundo de la programación y mi experiencia y hoja de vida en el
        ambito academico y profesional.Me considero una persona trabajadora y muy comprometida en cuanto a lo laboral
        refiere y por eso vi en este proyecto una oportunidad para darme a conocer y poder ampliar mis horizontes en lo
        que a desarrollo web supone.Actualmente trabajo como coordinador en la Unidad de Soporte de Implementación de
        Tecnología en el Ministerio de Educación en lo que es el servicio de Boleto Estudiantil (administrando y
        coordinando dicho servicio en 11 sedes comunales),tambien doy clases en calidad de mentor en Aprender
        Programando y hago paginas web de forma independiente (Ver en sección <a [routerLink]="['/portafolio']">Portafolio</a>).
        Muchas gracias por tomarte el tiempo para leer un poco acerca de mi y si te interesa contactarme, podes hacerlo
        mediante la sección <a [routerLink]="['/contacto']">Contacto</a> de este portafolio.


    </p>
</article>