<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <a href="https://briefcase-demian.web.app" target="_blank"><p>{{web}}</p></a>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="20000">
            <img src="../assets/img/Demian.jpeg" class="d-block">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/cv.jpg" class="d-block">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/demianoffice.jpeg" class="d-block">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p>
        <a [routerLink]="['/portafolio']">Portafolio</a>
        <a [routerLink]="['/contacto']">Contacto</a>

    </p> -->
</article>