<h2 class="briefcase-title">Proyectos personales</h2>
<div class="card-flex">
  <div class="card h-100" style="width: 21rem;">
    <img src="../../../assets/img/usip.jpeg" class="card-img-top" alt="CRUD">
    <div class="card-body">
      <h5 class="card-title"><strong>USIP MASTER</strong></h5>
      <p class="card-text">CRUD de empleados <br /> Ministerio de Educación</p>
      <a target="_blank" href= "https://usip-a630b.web.app" class="btn btn-primary">Ir a la página</a>
    </div>
  </div>
  <div class="card h-100" style="width: 21rem;">
    <img src="../../../assets/img/juego.jpeg" class="card-img-top" alt="JuegoJS">
    <div class="card-body">
      <h5 class="card-title"><strong>Quiz Rush JS</strong></h5>
      <p class="card-text">Juego inspirado en el preguntados con puntaje</p>
      <a target="_blank" href="https://juegojs-a3031.web.app" class="btn btn-primary">Ir a la página</a>
    </div>
  </div>
</div>
<br>
<br>
<h2 class="briefcase-title">Proyectos en los que colaboré</h2>
<div class="card-flex">
  <div class="card h-100" style="width: 21rem;">
    <img src="../../../assets/img/plj.jpeg" class="card-img-top" alt="CRUD">
    <div class="card-body">
      <h5 class="card-title"><strong>POR LOS JÓVENES</strong></h5>
      <p class="card-text">Página de campañas de donación</p>
      <a target="_blank" href= "https://porlosjovenes.org/" class="btn btn-primary">Ir a la página</a>
    </div>
  </div>
  <div class="card h-100" style="width: 21rem;">
    <img src="../../../assets/img/neuquen-360.png" class="card-img-top" alt="Noticias">
    <div class="card-body">
      <h5 class="card-title"><strong>Neuquen 360</strong></h5>
      <p class="card-text">Portal de noticias</p>
      <a target="_blank" href="https://neuquen360.com.ar/" class="btn btn-primary">Ir a la página</a>
    </div>
  </div>
</div>
