<div class="card-flex">
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/juegoJS.png" class="card-img-top" alt="..." height="356px">
    <div class="card-body">
      <h5 class="card-title">Juego JS</h5>
      <p class="card-text">Preguntados</p>
      <a target="_blank" href="https://juegojs-a3031.web.app" class="btn btn-primary">Ir a la pagina</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/demianoffice.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">USIP MASTER</h5>
      <p class="card-text">Pagina de empleados hecha para la unidad de soporte del ministerio de educación</p>
      <a target="_blank" href= "https://usip-a630b.web.app" class="btn btn-primary">Ir a la pagina</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/demianoffice.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recetario</h5>
      <p class="card-text">Recetario para el ahorro y correcto uso de los ingredientes</p>
      <a href="#" class="btn btn-primary">Ir a la pagina</a>
    </div>
  </div>
</div>