#main {
    font-family: "Merriweather";
    font-weight:bold;
    /* background-image: linear-gradient(to top,white,rgb(219, 194, 48),purple); */
    background: linear-gradient(to bottom, #1a237e, #64b5f6);
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: colors 20s infinite alternate;
}

@keyframes colors {
    0% {background-position: left}
    100% {background-position: right}
}

.briefcase-title {
    text-align: center;
    color: white;
    font-weight: bold;
}
.container {
    color:beige;
}
.card-flex {
    margin-top: 30px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0,1);
    transition: all 400ms ease;
}

.card {
    transition: all 400ms ease;
}

.carousel-inner {
    width: 100%;
}

.carousel-inner img {
    width: 15rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

ul {
    display: block;
    width: 50%;
    height: inherit;
    margin: 0px auto;
}

header ul li {
    display: inline-block;
    text-align: center;
    line-height: 58px;
    margin: auto 7px;
}

header a {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: 500ms;
}

header a:hover,
.actived {
    color: rgb(138, 160, 221);
    transition: 500ms;
    transform: scale(1.20, 1.20);
}

.content {
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    padding-top: 120px;
}

#content {
    padding-top: 37px;
}

.logo {
    font-family: "finger";
    font-size: 30px;
    transition: color 500ms, transform 500ms;
    color: white;
    cursor: default;
    margin: auto 15px;
}

.logo:hover {
    background: transparent;
    color: rgb(136, 224, 213);
    transform: scale(1.50, 1.50);
}

.title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 70px;
}

.title h1 {
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    color: white;
}

.title h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

h3 {
    color: white;
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
    font-family: "finger";
    color: white;
}

.about h2 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: white;
}

.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
    color: white;
}

.foto-cv {
    border-radius: 5px;
    margin-top: 30px;
}

.demian_cv {
    width: 75%;
    width: 75%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

form {
    width: 50%;
    margin: 0px auto;
    color: white;
}

.form-title {
    color: white;
    font-weight: bold;
}

form label {
    display: inline-block;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: 70%;
    padding: 5px;
    display: block;
}

.card-flex {
    display: flex;
}

.card {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
}

/* Footer */
footer {
    width: 75%;
    margin: left;
    padding-top: 50px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    justify-content:center;
    text-align: center;
    margin-left: 170px;
}

.logoFooter {
    display: inline-block;
    width: 32px;
}

@media (max-width: 768px) {
    footer {
        margin-left: 50px;
    }
    .title h1 {
        font-size: 28px;
    }
    .title h2 {
        font-size: 16px;
    }

    article.about {
        font-size: 14px;
    }

    .logo {
        font-size: 24px;
    }

    body {
        overflow-x: hidden;
    }

    .card-flex {
        display: block;
    }
    .card {
        display: block;
        margin: 0px auto;
        margin-top: 10px;
    }
}
