<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div id="main">
  <header>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="navbar-collapse">
      <ul>
        <li><a href="#portafolio">Portfolio</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li class="logo">DS</li>
        <li><a href="#sobre-mi">Sobre mí</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </header>
  
  <main>
    <section id="portafolio"><app-briefcase></app-briefcase></section>
    <section id="experiencia"><app-experience></app-experience></section>
    <section id="sobre-mi"><app-about></app-about></section>
    <section id="contacto"><app-contact></app-contact></section>
  </main>
  
  <footer>
    Demian Perez Stragá &copy;
    <a class="logoFooter" href="https://www.linkedin.com/in/demian-perez-strag%C3%A1-545a50253/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a class="logoFooter" href="https://github.com/demianlds?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>
  </footer>
  
</div>
</body>