#navbarNav {
    text-transform: uppercase;
}

@media (max-width: 768px) {
        .navbar-toggler-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
        position: absolute;
        top: 10px;
        left: 5px;
        }

        .navbar-collapse {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out;
          }
          .navbar-collapse.active {
            max-height: 400px;
          }
}