<body>
<div id="main">
  <header>
    <div class="navbar">
      <ul>
        <li><a [routerLink]="['/portafolio']" [routerLinkActive]="['actived']">Portafolio</a></li>
        <li><a [routerLink]="['/experiencia']" [routerLinkActive]="['actived']">Experiencia</a></li>
        <li class="logo"><a href="#">DS</a></li>
        <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
      </ul>
    </div>

  </header>


  <section id="content">
    <router-outlet></router-outlet>
  </section>

  <footer>
    Demian Perez Stragá &copy;
    <a href="https://www.linkedin.com/in/demian-perez-strag%C3%A1-545a50253/" target="_blank"> <img src="../assets/img/linkedin.png"
    class="logoFooter"> </a>
    <a href="https://github.com/demianlds?tab=repositories" target="_blank"><img src="../assets/img/github.jpg" class="logoFooter"></a>
  </footer>
</div>
</body>



<!-- This things maybe will be used in any moment or in another project

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="20000">
      <img src="../assets/img/Demian.jpeg" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/cv.jpg" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/demianoffice.jpeg" class="d-block">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<img class="demian" src="../assets/img/Demian.jpeg"> -->
<!-- <br> -->