<div class="title">
    <h1>{{title}}</h1>
</div>

<article class="about">
    <h2>Ambito Laboral</h2>
    <ul>
        <li>Barman en Zidane Restobar situado en Tinogasta 3224 (2014-2015).</li>
        <li>Empleado administrativo en la Unidad de Soporte e Implementación de Proyectos en el Ministerio de
            Educación
            (2015-Actualidad), en proyectos tales como:
        <li>Inscripción en línea,</li>
        <li>Matriculación,</li>
        <li>Becas (Alimentaria y Ciudad),</li>
        <li>Supervisión de distrito 7,11 y 18,</li>
        <li>Boleto Estudiantil,</li>
        <li>Coordinador en Inscripción en línea y Boleto Estudiantil</li>
        <li>Mentor en Aprender Programando para la iniciativa de Mujeres Digitales</li>
        <li>USIP MASTER (Me propuse crear una aplicación donde se pueda tomar el presentismo de los empleados y poder
            editar su información)</li>
    </ul>
    <br>
    <h2>Ambito Academico</h2>
    <ul>
        <li>Perito Mercantil con Especialización Contable e Impositiva, “Escuela de Comercio N°30 Dr. Esteban Agustín
            Gascón”, 2010-2014.</li>
        <li>Actualmente cursando la Tecnicatura en Programación en la Universidad de San Martín.</li>
        <li> Actualmente cursando el programa Codo a Codo con especialización en Javascript y NodeJS.</li>
    </ul>
</article>